@import url("https://fonts.cdnfonts.com/css/sansita-one-3");

* {
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  grid-template-areas:
    "header"
    "main";
    background-color: #7092be;
}

header {
  background-color: #0b1424;
  padding: 1rem;
  text-align: center;
}

header svg {
  color: white;
  display: grid;
  grid-template-areas: "icono titulo";
}

header h1 {
  font-size: 5rem;
  font-family: "Sansita One", sans-serif;
  margin: 0;
  color: white;
}

main {
  background-color: #7092be;
}

.foto {
  padding: 5rem;
  position: absolute;
}

.foto img{
    width: 500px;
}

.artes {
  padding: 5rem;
  position: absolute;
  left: 50%;
}

.artes img{
    width: 500px;
}

.lista {
  padding: 5rem;
  position: absolute;
  top: 120%;
}

.lista img{
    height: 26rem;
}

.escuchar {
  padding: 5rem;
  position: absolute;
  top: 120%;
  left: 50%;
}

.escuchar img{
    height: 38rem;
}
