@import url("https://fonts.cdnfonts.com/css/jomolhari-3");
@import url("https://fonts.cdnfonts.com/css/rangile");
@import url("https://fonts.cdnfonts.com/css/plush-trial");
@import url("https://fonts.cdnfonts.com/css/zilla-slab");
@import url('https://fonts.cdnfonts.com/css/sansita-one-3');
@import url('https://fonts.cdnfonts.com/css/ncl-rabegs');
@import url('https://fonts.cdnfonts.com/css/climate-crisis');

:root {
    --color-fondo-inicio: #0b1424;
    --color-letra-titulo: #cacae1;
}

body{
    background-color: var(--color-fondo-inicio);
    color: var(--color-letra-titulo);
}

header svg{
    color: white;
}

h1{
    font-size: 5rem;
    text-align: center;
    font-family: 'NCL Rabegs', sans-serif;
}

section{
    padding: 2rem;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

div{
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 15px;
    flex-grow: 1;
    box-shadow: 0px 0px 10px white;
}

img{
    width: 100%;
    transition: .4s;
    filter: grayscale(100);
    object-fit: cover;
}

img:hover{
    transform: scale(1.1);
    filter: grayscale(0);
}